.projectInfoTabs .ant-tabs-nav {
  background-color: white;
  padding-left: 10px;
  margin: 0 -16px 10px -16px !important;
}

.project-photo .ant-upload.ant-upload-select {
  width: 250px !important;
  height: 250px !important;
}