.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 16px;
}

.datePicker {
  min-width: 200px;
}

.tableContainer {
  flex: 1;
  overflow: hidden;
}

.filterBar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.selectProject {
  min-width: 200px;
}

.rangePicker {
  min-width: 300px;
}

.searchBar {
  min-width: 500px;
  max-width: 500px;
}

.searchBar :global(.ant-select-selection-overflow) {
  max-height: 88px;
  overflow-y: auto;
}

@media (max-width: 1250px) {
  .filterBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .filterBar > div {
    flex-direction: column;
    width: 100%;
  }

  .selectProject,
  .rangePicker,
  .searchBar {
    width: 100% !important;
    max-width: 100%;
    min-width: 100%;
  }
}
